/*******************************************************************/
/*                       THE CART CONTENT CSS                      */
/*******************************************************************/
.cart-content {
	position  : relative;
	top       : 100px;
	width     : 100vw;
	height    : auto;
	min-height: 550px;

	margin-bottom   : -20px;
	background-color: var(--hbackground);
}
.cart-content .bg-img {
	position: absolute;
	top     : 0;
	left    : -10%;
	width   : 80%;
	height  : 100%;
}
.cart-content .cut-img {
	position: absolute;
	top     : 0;
	left    : 11vw;

	border-left  : 60vw solid transparent;
	border-bottom: 100vh solid var(--hbackground);
}
/*.................................................................*/




/*******************************************************************/
/*                           THE CHECKOUT                          */
/*******************************************************************/
.checkout {
	position: fixed;
	bottom  : 20px;
	right   : 20px;
	width   : 200px;
	height  : 50px;

	color      : white;
	font-weight: bold;
	font-size  : 1.5rem;

	border-radius   : 20px;
	background-color: var(--main-color);
}
/*.................................................................*/




/*******************************************************************/
/*                            CARTED ITEMS                         */
/*******************************************************************/
.carted-items {
	display   : grid;
	overflow-y: scroll;
	row-gap   : 20px;
	grid-template-rows   : repeat(5, 1fr);
	grid-template-columns: repeat(1, 1fr);

	position: absolute;
	top     : 2%;
	right   : 10px;
	width   : 50%;
	height  : 96%;
}
.carted-items .cart-product {
	position    : relative;
	height      : 150px;
	margin-right: 10px;

	border-radius   : 10px;
	border          : 2px solid black;
	background-color: #fefefe;
	overflow        : hidden;
}

.carted-items .cart-product .cart-image {
	position: absolute;
	width   : 30%;
	height  : 100%;
}
.carted-items .cart-product .cart-name,
.carted-items .cart-product .cart-price {
	position: relative;
	left    : 31%;
	width   : 66%;
	font-size: 1rem;
}
.carted-items .cart-product .cart-price {
	color: var(--main-color);
	font-size: 2rem;
}

.quantityMaker {
	display   : flex;	
	position  : absolute;
	bottom    : 10px;
	right     : 10px;
	width     : 20%;
	height    : 30px;
	margin-top: 10px;

	background-color: white;
}
.quantity-btn {
	width : 30%;
	height: 30px;

	border   : none;
	font-size: 1.2rem;

	color           : var(--white-ff);
	background-color: var(--main-color);

	cursor: pointer;
}
.quantity-input {
	width: 40%;
/*	height: 20px;*/

	font-size : 1.2rem;
	text-align: center;

	border: 1px solid var(--black-66);
	color           : var(--black-66);
	background-color: var(--white-fe);
}
/*.................................................................*/

@media (max-width: 800px) {
	.cart-content {
		top          : 90px;
		min-height   : 450px;
		margin-bottom: -30px;
	}
	.carted-items               { width: 60%; right: 10px; top: 3%;}
	.carted-items .cart-product { height: 120px; margin-right: 5px; }
	.cart-content .cut-img      { display: none; }
	.cart-content .bg-img       { left: 0; width: 100%; }
	.carted-items .cart-product .cart-name  { font-size: 0.8rem; }
	.carted-items .cart-product .cart-price { font-size: 1.5rem; }
}
@media (max-width: 550px) {
	.cart-content {
		top          : 60px;
		min-height   : 350px;
		margin-bottom: -60px;
	}
	.carted-items               { width: 96%; right: 5px; }
	.carted-items .cart-product { height: 100px; margin-right: 5px; }
	.checkout {
		bottom   : 10px;
		right    : 10px;
		width    : 100px;
		height   : 25px;
		font-size: 1rem;
	}
}